---
# Front matter
---
@charset "utf-8";
@import "constants";

#links a {
  font-weight: normal !important;
}

h2, h3, h4, h5, h6 {
  background-color: $category-background-color;
  display: table;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

li {
  list-style: none;
}
