---
layout: default
---

<div class="home">

  <div class="sidebar">
    {% capture sidebar %}{% include sidebar.md %}{% endcapture %}
    {{ sidebar | markdownify }}
  </div>

  <h1 class="section-title">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <span class="post-meta">{{ post.tags }}</span>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>

</div>
