{% if page.comments %}


<div id="disqus_thread" style="text-align:center;">
  <a href="#" onclick="disqus();return false;">
    <span class="show-comments">
      Show comments
    </span>
  </a>
</div>

<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

// this function is bound to the window and later invoked by the embed.js script
var disqus_config = function () {
  this.page.url = "http://kylebebak.github.io{{ page.url }}";
  this.page.identifier = "{{ page.id }}";
};

// the following cribbed from here: https://www.labnol.org/internet/load-disqus-comments-on-click/28653/
var disqus_loaded = false;

function disqus() {
  if (disqus_loaded) { return; }
  disqus_loaded = true;

  var d = document, s = d.createElement('script');
  s.src = '//kylebebak.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
}

</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endif %}
