<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">
      {% include icon.html icon="icons/icon-home.svg" %}
    </a>

    <nav class="site-nav">
      <div class="trigger">

        {% assign nav_pages = "categories|tags|code|about" | split: "|" %}
        {% for nav_page in nav_pages %}
          <a class="page-link" href="{{ site.baseurl }}/{{ nav_page }}">
            {% capture icon %}icons/icon-{{ nav_page }}.svg{% endcapture %}
            {% include icon.html icon=icon %}
          </a>
        {% endfor %}

      </div>
    </nav>

  </div>

</header>
