{% assign cat = '' %}
{% capture url %}{{ site.baseurl }}/categories#{% endcapture %}

{% for category in include.post.categories %}
  {% if forloop.first == true %}
    {% capture cat %}{{ category }}{% endcapture %}
    {% capture url %}{{ url }}{{ category }}{% endcapture %}
  {% else %}
    {% capture cat %}{{ cat }}/{{ category }}{% endcapture %}
    {% capture url %}{{ url }}--{{ category }}{% endcapture %}
  {% endif %}
{% endfor %}

<a href="{{ url }}"><span style="margin-right:.5em;" class="categories">
{{ cat }}
</span></a>

{% for tag in include.post.tags %}
  {% if site.tags[tag] %}
    {% capture tag %}{{ tag }}{% endcapture %}
    <a href="{{ site.baseurl }}/tag/{{ tag }}">
      {% include icon.html icon="icons/tag.svg" text=tag text-classes="tag" %}
    </a>
  {% endif %}
{% endfor %}
